.bread-show-img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    margin-right: 200px;
    margin-left: 300px;
    border-radius: 50%;
    margin-top: 10px;
    border: 1px solid rgb(9, 152, 194);
}

.bread-show-container {
    font-family:'Nunito', sans-serif;
}

.bread-show-intro {
    display: flex;
}

.bread-show-name {
    display: block;
    font-size: 50px;
    position: relative;
    margin-left: 30px;
}
.bread-show-name-container {
    display: flex;
    font-size: 50px;
    margin-top: 30px;
    margin-right: 200px;
    margin-bottom: 20px;
}

.bread-show-info-container {
    display: flex; 
    position: relative;
    font-size: 40px;
}

.bread-show-origin-container {
    display: flex;
    margin-bottom: 20px;
}

.bread-show-origin-label, .bread-show-description-label, .bread-show-name-label, .bread-show-price-label {
    font-weight: bold;
} 

.bread-show-origin {
    margin-left: 57px;
}
.bread-show-name-main{
    display: flex;
    flex-direction: column;
    margin-right: 250px;
    padding: 35px 50px;
    background-color: #f5f3ef;
    border-radius: 20px;
    margin-top: 10px;
}

.bread-show-description-container {
    display: flex;
    font-size: 25px;
    margin-bottom: 20px;
}

.bread-show-description {
    margin-left: 33px;
}

.bread-show-button {
    height: 70px;
    width: 100%;
    border-radius: 50px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: white;
    color: tan;
}

.bread-show-button1 {
    height: 70px;
    width: 100%;
    border-radius: 50px;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    color: tan;
    margin-bottom: 20px;
}

.bread-show-button:hover, .bread-show-button1:hover {
    cursor: pointer;
    background-color: rgb(206, 149, 4);
    transition: 2s;
    color: white;
}

.bread-show-price-container {
    display: flex;
    margin-bottom: 20px;
}

.bread-show-price {
    margin-left: 70px;
}

.question-text {
    margin-top: 60px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.update-button {
    padding: 15px 90px;
    align-self: center;
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #d6ab4682;
    background-color: white;
}

.update-button:hover {
    background-color: #d39f25;
    cursor: pointer;
    color: white;
    transition: 2s;
}

.noMatchContainer {
    margin-top: 130px;
    font-weight: bold;
    font-size: 23px;
    margin-right: 90px;
    color:rgb(9, 152, 194);
}

.noMatch {
    text-align: center;
}

.noMatchImg {
    align-self: center;
    padding-left: 170px;
    padding-bottom: 30px;
}

.editbread {
    color:rgb(206, 149, 4);
}