.profile-carousel-image {
    height: 200px;
    object-fit: cover;
    width: 200px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-carousel-image:hover {
    cursor: pointer;
}

.profile-carousel-name {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}

.breadProfile-labelcont {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 23px;
    padding-bottom: 30px;
    top: 30%;
}

.no-breadProfile-labelcont {
    position: absolute;
    top: 30%;
    color: black;
}

.breadProfile-suggestions {
   margin-right: 30px;
   margin-top: 120px;
}

.breadProfile-suggestions-no-match {
    margin-right: 45px;
}

.profile-carousel {
    height: 300px;
    width: 500px;
}

.profile-carousel:hover {
    cursor: pointer;
}

.main-profile-display {
    display: block;
    height: 700px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #f5f3ef;
    border-radius: 30px;
    font-family:'Nunito', sans-serif;
}

.carousel-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-top: 0px;
    padding: 0px 0px;
    margin-bottom: 200px;
}