.profile-carousel-image {
    height: 250px;
    object-fit: cover;
    width: 250px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-carousel-image:hover {
    cursor: pointer;
}

.profile-carousel-name {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}

.breadProfile-label {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-right: 80px;
    margin-top: 100px;
}

.breadProfile-suggestions {
    display: flex;
    margin-left: 300px;
}

.profile-carousel {
    height: 500px;
    width: 700px;
}

.profile-carousel:hover {
    cursor: pointer;
}