
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$main-Roboto-font: 'Roboto', sans-serif;
$blue-splash: rgb(6, 98, 202);
$background-grey: rgba(50, 50, 50, 0.17);

// colors
$tan-highlight: #FFC237;
$tan-background: #FAEFD6;
$blue-highlight: #379EFF;
$dark-brown-accents: #352500;


$main-Roboto-font: 'Roboto', sans-serif;
