@import '../../public/base/variables.scss'; //under public/base/variable.scss

// style sheet I am using on App.js
 button{
        margin: 10px;
        border: none;
        outline:none;
        background: none;
};

.splash-nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    background-color: $blue-splash;

};

*{
    font: $main-Roboto-font;
}
