
@import '../../public/base/variables.scss'; //under public/base/variable.scss

// style sheet I am using on App.js

// easred all button settings
 button{
        margin: 10px;
        border: none;
        outline:none;
        background: none;
};

// applying to all elements
*{
    font-family:$main-Roboto-font;
}
.splash-nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    // background-color: red;
};

.background-img{
    display: flex;
    justify-content: center;
    // height: 100%;
    z-index: -999;
    position: absolute;
}

.button-master{
    display: flex;
    flex-direction: row;
}
.button-splash{
    margin:25px;
    background-color: $tan-background;
    padding: 10px 25px 10px 25px;
    border: 1px solid $dark-brown-accents;
    border-radius: 3px;
}

.content-splash{
    width: 40%;
    margin: 65px;
    line-height: 1.6;
    font-size: 25px;
}