@import "./variables.scss";
.No-bread{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 280px;
    background-image: url("../../images/orlova-maria-background-unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: #1b1405e8;
    font-weight: bold;
    margin-bottom: 30px;
    }
.cart-master{
    margin-top: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    .cart-header {
        text-align: left;
        font-weight: bold;
        margin-left: 200px;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .quantity{
        display: flex;
        justify-content: space-between;
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 40px;
        font-size: 30px;
        padding:10px;
        font-weight: bold;
    }
    hr{
        margin-left: 200px;
        margin-right: 200px;
        border: 1px solid rgb(9, 152, 194);
    }

    .cart-items{
        display: flex;
        justify-content: space-between;
        margin-left: 200px;
        margin-right: 200px;
        padding-top: 20px;
        padding: 30px 30px;
        border-radius: 20px;
        background-color: #f5f3ef;
        .cart-items-master{
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            
        }
        .button-cart{
            padding-top: 15px;
        }
        .item-info{
            p{
                font-size: 30px;
                line-height: 1.4;
            }
        }
        .cartprice{
            font-weight: 900;
        }
        .breadName{
            margin-top: 40px;
            font-weight: bold;
        }
        .img-cart{
            height: 200px;
            width: 200px;
            border-radius: 10px;
            margin-right: 25px;
            margin-bottom: 10px;
            object-fit: cover;
            border: 5px solid rgb(9, 152, 194);
        }
        button:hover{
            background-color: red;
            cursor: url('../../images/croissant_icon.png'), auto;
        }
    }
    .button-checkout{
        margin: 20px 0px;
        font-size: 30px;
    }

    .button-splash2 {
        height: 70px;
        width: 80%;
        border-radius: 50px;
        font-size: 30px;
        font-weight: bold;
        background-color: white;
        color: tan;
        font-family: 'Nunito', sans-serif;
        text-align: center;
        margin-left: 200px;
        border: 3px solid tan;
    }

    .button-splash2:hover{
    cursor: pointer;
    background-color: rgb(206, 149, 4);
    transition: 2s;
    color: white;
    }
}
