.review-form1 {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

textarea {
    height: 160px;
    width: 220px;
    border-radius: 10px;
    border: 2px solid $new-blue;
    padding-bottom: 20px;
}
.author-name{
    font-family: $nunito;
    font-size: 16px;
    font-weight: 300;
    width: 220px;
    text-align: left;
    padding-bottom: 20px;

}
#review-button {
    margin-left: 0px;
    margin-top: 20px;;
}