
@import "./variables.scss";
.carasal{
  height: 500px;

  .bread-carasal{
      height: 100%;
      object-fit: cover;
      // -webkit-overflow-scrolling: touch; dont know if i want this
  }

  .master{
    display: flex;
    background-color: $main-background-color;

    .position-button{
      position: relative;
      margin-left: 50px;
      top: -240px;
    }
    
      .bread-description-main{
      width: 550px;
      background-color: $main-background-tan;
      padding: 10px;
      border-radius: 10px;
      margin-left: 80px;
      position: relative;
      top: -450px;
      color: black;
    }
      .bread-description{
      font-family: $main-Roboto-font;
      font-size: 40px;
    }

    .bread-name-origin-master{
      background-color: $main-background-tan;
      margin-left: 80px;
      position: relative;
      top: -300px;
      border-radius: 10px;
      padding: 10px;
      height: 60px;
      color: black;
      .bread-name{
        font-family: $main-Roboto-font;
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
        

      }
      .bread-origin{
        font-family: $main-Roboto-font;
        font-size: 15px;
        text-align: center;
      }
    }
  }

}


.main-content-master{
  background-color: $main-background-color;
  padding-top: 100px;
  display: flex;
  
  .main-content{
    padding-top: 70px;
    width: 100%;
    line-height: 1.2;
    p{
      display: block;
      height: 200px;
      width: 1000px;
      margin-left: 150px;
      font-size: 40px;
      text-align: center;
      font-family: $main-Roboto-font;
    }
  }

  .main-content2 {
    padding-top: 70px;
    width: 100%;
    line-height: 1.2;
    p{
      display: block;
      height: 200px;
      width: 1000px;
      margin-right: 150px;
      font-size: 40px;
      text-align: center;
      font-family: $main-Roboto-font;
    }
  }
  
  .main-pic-1{
    padding: 10px;
    align-items: center;
    width:600px;
    margin-right: 100px;
    border-radius: 30px;
    border: 1px solid $blue-border;
  }

  .main-pic-2 {
    padding: 10px;
    align-items: center;
    width:600px;
    margin-left: 100px;
    border-radius: 30px;
    border: 1px solid $blue-border;
  }
}
.master-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 25px 20px 25px;

    .button-splash{
      background-color: rgb(206, 149, 4);
      color: white;
      font-size: 18px;
      font-family: 'Nunito', sans-serif;
      font-weight: 600;
      margin-left: 20px;
      border-radius: 14px;
      padding: 10px 10px 10px 10px;
      text-align: center;
    }

    .button-splash:hover{
      background-color: rgb(235, 213, 160);
      color: white;
      font-size: 18px;
      font-family: 'Nunito', sans-serif;
      font-weight: 600;
      margin-left: 20px;
      border-radius: 14px;
      padding: 10px 10px 10px 10px;
      text-align: center;
      cursor: pointer;
    }

    .master-nav-buttons {
      margin-right: 100px;
    }
}


.slick-slide {
  visibility: hidden;
}
.slick-slide.slick-active {
  visibility: visible;
}