
@import "./variables.scss";
.carasal{
  height: 500px;

  .bread-carasal{
      height: 100%;
      width: 100%;
      object-fit: cover;
      // -webkit-overflow-scrolling: touch; dont know if i want this
  }

  .master{
    display: flex;
    background-color: none;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;

    .position-button{
      position: relative;
      margin-left: 50px;
      top: -240px;
    }
    
      .bread-description-main{
      width: 550px;
      background-color: $main-background-tan;
      padding: 10px;
      border-radius: 10px;
      margin-left: 80px;
      position: relative;
      top: -450px;
      color: black;
    }
      .bread-description{
      font-family: $main-Roboto-font;
      font-size: 40px;
    }

    .bread-name-origin-master{
      border-radius: 10%;
      padding: 30px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url('../../images/main_text_background.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 170%;
      .bread-name, .learn-more-link{
        font-family: $nunito;
        font-weight: 900;
        font-size: 54px;
        text-align: center;
        margin-bottom: 10px;
        color: $new-blue;
        
      
      }
      }
      
    }

}
.bread-origin {
        color: $new-blue;
        font-family: $nunito;
        font-size: 45px;
        font-weight: 700;
        text-align:center;
      }
.learn-more-link{
        font-family: $nunito;
        height: 100px;
        font-size: 30px;
        font-weight: 700;
        align-self: flex-end;
        position: absolute;
        top: 400px;
        right: 50px;
        text-decoration: none;
        color: $new-blue;
        padding: 15px;
        background-image: url('../../images/link_background.png');
        background-repeat: no-repeat;
        background-position: 0px -30px;
        background-size: 100%;

}
#main-carousel-button {
  width: 200px;
  font-size: 22px;
  margin-top: 15px;
}
.maincontentcontainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 80%;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-content-master{
  background-color: white;
  padding-top: 40px;
  display: flex;
  padding-left: 50px;
  
  .main-content{
    padding-top: 120px;
    width: 100%;
    line-height: 1.2;
    p{
      display: block;
      height: 200px;
      width: 600px;
      margin-left: 150px;
      font-size: 40px;
      text-align: center;
      font-family: $nunito;
      font-weight: 600;
    }
  }

  .main-content2 {
    padding-top: 120px;
    width: 50%;
    line-height: 1.2;
    p{
      display: block;
      height: 200px;
      width: 600px;
      margin-right: 150px;
      font-size: 40px;
      text-align: center;
      font-family: $nunito;
      font-weight: 600;
    }
  }
  
  .main-pic-1{
    padding: 10px;
    align-items: center;
    width:500px;
    height: 400px;
    // margin-right: 100px;
    border-radius: 50%;
    border: 2px solid $new-blue;
    object-fit: cover;
  }

  .main-pic-2 {
    padding: 10px;
    align-items: center;
    width:400px;
    height: 400px;
    margin-left: 100px;
    border-radius: 50%;
    border: 2px solid $new-blue;
    object-fit: cover;
  }
}
.master-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 25px 20px 25px;

    .button-splash{
      background-color: rgb(206, 149, 4);
      color: white;
      font-size: 18px;
      font-family: 'Nunito', sans-serif;
      font-weight: 600;
      margin-left: 20px;
      border-radius: 14px;
      padding: 10px 10px 10px 10px;
      text-align: center;
    }

    .button-splash:hover{
      background-color: rgb(235, 213, 160);
      color: white;
      font-size: 18px;
      font-family: 'Nunito', sans-serif;
      font-weight: 600;
      margin-left: 20px;
      border-radius: 14px;
      padding: 10px 10px 10px 10px;
      text-align: center;
      cursor: pointer;
    }

    .master-nav-buttons {
      margin-right: 100px;
    }
}


.slick-slide {
  visibility: hidden;
}
.slick-slide.slick-active {
  visibility: visible;
}