
@import "./variables.scss";
.carasal{
  height: 500px;

  .bread-carasal{
    
      height: 100%;
      object-fit: cover;
      // -webkit-overflow-scrolling: touch; dont know if i want this
  }

  .master{
    display: flex;
    background-color: $main-background-color;

    .position-button{
      position: relative;
      margin-left: 50px;
      top: -240px;
    }
    
      .bread-description-main{
      width: 550px;
      background-color: $main-background-tan;
      padding: 10px;
      border-radius: 10px;
      margin-left: 80px;
      position: relative;
      top: -450px;
    }
      .bread-description{
      font-family: $main-Roboto-font;
      font-size: 40px;
      
      
    }

    .bread-name-origin-master{
      background-color: $main-background-tan;
      margin-left: 80px;
      position: relative;
      top: -300px;
      border-radius: 10px;
      padding: 10px;
      height: 60px;
      .bread-name{
        font-family: $main-Roboto-font;
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
        

      }
      .bread-origin{
        font-family: $main-Roboto-font;
        font-size: 15px;
        text-align: center;
      }
    }
  }

}


.main-content-master{
  background-color: $main-background-color;
  padding-top: 100px;
  display: flex;
  
  .main-content{
    padding-top: 70px;
    margin: 40px;
    line-height: 1.2;
    p{
      font-size: 50px;
      text-align: center;
    }
  }
  
  .main-pic-1{
    padding: 10px;
    align-items: center;
      width:700px;
      border-radius: 30px;
      border: 1px solid $blue-border;
  }
}
