.outer-review-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 30px 30px 30px 30px;

    
}
.review-header {
    font-family: $nunito;
    font-size: 36px;
    font-weight: 700;
}
.review-container {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 10px;
}
.review-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.review-body-holder{
    height: 200px;
    width: 200px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}
.review-body{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid $new-blue;
    background-color: $new-blue;
    font-family: $nunito;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: white;
    line-height: 200px;

   
}


.review-author {
    border: 2px solid $mustard;
    font-family: $nunito;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    border-radius: 15px;
    padding: 8px;
    width: 180px;
}