.outer-review-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 30px 30px 30px 30px;
    margin-left: 100px;
    
}
.review-header {
    font-family: $nunito;
    font-size: 36px;
    font-weight: 700;
    margin-left: 120px;
    margin-top: 40px;
}
.review-container {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 10px;
}
.review-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    position: relative;
}

.review-body-holder{
    height: 200px;
    width: 200px;
    display:block;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: rgba(9, 152, 194, 1);
    border-radius: 20px;
}

.review-body{
    font-family: $nunito;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: white;
    line-height: 1.25;
    padding: 0;
    display:block;
    height: 200px;
    width: 200px;
    overflow-wrap: break-word;
    margin: 5px 0px;
}

.review-author {
    border: 2px solid $mustard;
    font-family: $nunito;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    border-radius: 15px;
    padding: 8px;
    width: 180px;
}