
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
$main-Roboto-font: 'Raleway', sans-serif;
$nunito:'Nunito', sans-serif;

$main-background-tan:#faefd682;
$blue-border:hsl(224, 100%, 79%);
$main-background-color:#faefd6;
$new-blue: rgb(9, 152, 194);